<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<fieldset class="layui-elem-field" th:fragment="professional_skill_model" th:case="'professional_skill_model'">
    <legend th:text="${type == 'create' ? '员工相关专业技能证书档案 - 信息新增' : '员工相关专业技能证书档案 - 信息更新'}"></legend>
    <div class="layui-field-box">
        <!--post方式提交-->
        <form class="layui-form" th:method="${type == 'create' ? 'get' : 'post'}" th:action="@{${req_url}}">
            <input type="hidden" name="psId" th:if="${professionalSkills != null}" th:value="${professionalSkills.psId}">
            <div class="layui-form-item">
                <label class="layui-form-label">专业技能</label>
                <div class="layui-input-block">
                    <input type="text"  name="psInfo" th:value="${professionalSkills != null} ? ${professionalSkills.psInfo}" required  lay-verify="required" placeholder="请输入专业技能" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">技能级别</label>
                <div class="layui-input-block">
                    <input type="text"  name="psLevel" th:value="${professionalSkills != null} ? ${professionalSkills.psLevel}" required  lay-verify="required" placeholder="请输入技能级别" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">证书发证日期</label>
                <div class="layui-input-block">
                    <input type="date"  name="psIssueTime" th:value="${professionalSkills != null} ? ${#dates.format(professionalSkills.psIssueTime, 'yyyy-MM-dd')}" required  lay-verify="required" placeholder="请输入证书发证日期" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">证书号</label>
                <div class="layui-input-block">
                    <input type="text"  name="psNumber" th:value="${professionalSkills != null} ? ${professionalSkills.psNumber}" required  lay-verify="required" placeholder="请输入证书号" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">员工</label>
                <div class="layui-input-block">
                    <select name="empId" required  lay-verify="required" placeholder="请选择员工">
                        <option th:each="employee:${employees}" th:selected="${professionalSkills != null && professionalSkills.empId == employee.empId} ? 'selected'" th:value="${employee.empId}">[[${employee.empName}]]</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo" type="submit">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</fieldset>
</body>
</html>